{% extends 'main.html' %} {% block content %}

<a type="button" class="btn btn-primary" href="{% url 'tasks' %}">inapoi</a>
<a type="button" class="btn btn-primary" href="{% url 'edith-task' task.nr %}">Edith</a>


        <div class="container-md  text-center">
          <div class="row p-2 font-weight-bold">

            <div class="col ">
              <div class="p-3 hm-size border ">
                <div>Nr Task:</div>
                <div>{{task.nr}}</div>
              </div>
            </div>

            <div class="col ">
              <div class="p-3 hm-size border ">
                <div>Data creare:</div>
                <div>{{task.created|date:"d.m.y H:i"}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Inregistrat de:</div>
                <div>{{task.owner}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Locatia:</div>
                <div>{{task.locatia}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Informator:</div>
                <div>{{task.informatorul}}</div>
              </div>
            </div>
            
          </div>
          <div class="row p-2 font-weight-bold">

            <div class="col">
              <div class="p-3 hm-size border  ">
                <div>Componenta:</div>
                <div>{{task.componenta}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Label:</div>
                <div>{{task.label}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Egm:</div>
                <div>{{task.egm.serie}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Model:</div>
                <div>{{task.egm.cabinet}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Platforma:</div>
                <div>{{task.egm.platforma}}</div>
              </div>
            </div>
            
          </div>

          <div class="row p-2 font-weight-bold">

            <div class="col-4">
              <div class="p-3 hM-size border ">
                <div>Problema:</div>
                <div>{{task.problema}}</div>
              </div>
            </div>

            <div class="col-4">
              <div class="p-3 hM-size border ">
                <div>Solutie:</div>
                <div>{{task.solutie}}</div>
              </div>
            </div>

            <div class="col-4">
              <div class="p-3 hM-size border ">
                <div>Sumar:</div>
                <div>{{task.sumar}}</div>
              </div>
            </div>

          </div>

          <div class="row p-2 font-weight-bold">

            <div class="col">
              <div class="p-3 hm-size border  ">
                <div>Responsabil:</div>
                <div>{{task.responsabil}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Rezolutie:</div>
                <div>{{task.rezolutie}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Status:</div>
                <div>{{task.status}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Data inchidere:</div>
                <div>{{task.data_inchidere|date:"d.m.y H:i"}}</div>
              </div>
            </div>

            <div class="col">
              <div class="p-3 hm-size border ">
                <div>Supervisor:</div>
                <div>{{task.supervisor}}</div>
              </div>
            </div>
            
          </div>
          
        </div>
    {% endblock %}
  

    