{% extends 'main.html' %}
{% load static %}

{% block content %}

<div ><h4 id="fil" style="display: none">Filtru:</h4></div>

<div class=" text-center  tableFixHead">
      <table class="table table-bordered table-hover lh-1  " id="tabel">
        <thead >
        <tr >
          <th class="px-1" >Nr</th>
          <th class="px-1" >Data</th>
          <th class="px-1" >
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Locatia</a>
                    <ul class="dropdown-menu">
                      <li class="btn dropdown-item"  onclick="filtru(this, 0)">All</li>
                      {% for locatia in locatii %}
                        <li class="btn dropdown-item " value="{{locatia.id}}"  onclick="filtru(this, 1, value)">{{locatia}}</li>
                      {% endfor %}
                    </ul>
          </th>
          <th class="px-1"> 
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Serie</a>
                    <ul class="dropdown-menu" id="id_egm">
                      <li class="btn dropdown-item" value="0" onclick="filtru(this, 0)">All</li>
                      {% for egm in egms %}
                      <li class="btn dropdown-item" value="{{egm.locatia_id}}" onclick="filtru(this, 2)">{{egm}}</li>
                      {% endfor %}
                      
                    </ul>
          </th>
          <th class="px-1">
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Cabinet</a>
                    <ul class="dropdown-menu">
                      <li class="btn dropdown-item" onclick="filtru(this, 0)">All</li>
                      {% for cabinet in cabinete %}
                        <li class="btn dropdown-item "  onclick="filtru(this, 3)">{{cabinet}}</li>
                      {% endfor %}
                    </ul>
          </th>
          <th class="px-1">
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Componenta</a>
                    <ul class="dropdown-menu">
                      <li class="btn dropdown-item" onclick="filtru(this, 0)">All</li>
                      {% for componenta in componente %}
                        <li  class="btn dropdown-item "  onclick="filtru(this, 4)">{{componenta}}</li>
                      {% endfor %}
                    </ul>
          </th>
          </th>
          <th class="px-1">
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Label</a>
                    <ul class="dropdown-menu">
                      <li class="btn dropdown-item" onclick="filtru(this, 0)">All</li>
                      {% for label in labels %}
                        <li class="btn dropdown-item "  onclick="filtru(this, 5)">{{label}}</li>
                      {% endfor %}
                    </ul>
          </th>
          <th class="px-1">Problema raportata</th>
          <th class="px-1">Solutie</th>
          <th class="px-1">Responsabil</th>
          <th class="px-1">
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Rezolutie</a>
                    <ul class="dropdown-menu">
                      <li class="btn dropdown-item" onclick="filtru(this, 0)">All</li>
                      {% for rezolutie in rezolutii %}
                        <li class="btn dropdown-item "  onclick="filtru(this, 9)">{{rezolutie}}</li>
                      {% endfor %}
                    </ul>
          </th>
          <th class="px-1">
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Statut</a>
                    <ul class="dropdown-menu">
                      <li class="btn dropdown-item" onclick="filtru(this, 0)">All</li>
                      <li class="btn dropdown-item" onclick="filtru(this, 10)">custom</li>
                      <li class="btn dropdown-item text-bg-danger" onclick="filtru(this, 10)">Open</li>
                      <li class="btn dropdown-item text-bg-success" onclick="filtru(this, 10)">Closed</li>
                      <li class="btn dropdown-item text-bg-info" onclick="filtru(this, 10)">Progres</li>
                      <li class="btn dropdown-item text-bg-warning" onclick="filtru(this, 10)">VNET</li>
                      <li class="btn dropdown-item text-bg-secondary" onclick="filtru(this, 10)">CMAC</li>
                      <li class="btn dropdown-item text-bg-primary" onclick="filtru(this, 10)">LNM</li>
                    </ul>
          </th>
        </tr>
        </thead>

        <tbody >
        {% for task in tasks %}
        <tr > 
          <th class="px-1"><a  href="{% url 'task' task.nr %}">{{task.nr}}</a></th>
          <td class="px-1">{{task.created|date:"H:i d.m.y"}}</td>
          <td class="px-1">{{task.locatia.numar}}</td>
          <td class="px-1">{{task.egm.serie}}</td>
          <td class="px-1">{{task.egm.cabinet}}</td>
          <td class="px-1">{{task.componenta}}</td>
          <td class="px-1">{{task.label}}</td>
          <td class="px-1" ><a onclick="return false" ondblclick="location=this.href" href="{% url 'task' task.nr %}"><div class="text-start">{{task.problema}}</div></a></td>
          <td class="px-1"><div class="text-start">{{task.solutie}}</div></td>
          <td class="px-1">{{task.responsabil}}</td>
          <td class="px-1">{{task.rezolutie}}</td>
          {% if task.status == 'open' %}
          <td class="text-bg-danger px-1">{{task.get_status_display}}</td>
          {% elif task.status == 'closed' %}
          <td class="text-bg-success px-1">{{task.get_status_display}}</td>
          {% elif task.status == 'in_progres' %}
          <td class="text-bg-info px-1">{{task.get_status_display}}</td>
          {% elif task.status == 'waiting_vnet' %}
          <td class="text-bg-warning px-1">{{task.get_status_display}}</td>
          {% elif task.status == 'waiting_cmac' %}
          <td class="text-bg-secondary px-1">{{task.get_status_display}}</td>
          {% elif task.status == 'waiting_lnm' %}
          <td class="text-bg-primary px-1">{{task.get_status_display}}</td>
          {% endif %}
      
        </tr>
        {% endfor %}
      </tbody>
      </table>
</div>


<script> if('{{value}}' ){var value = '{{value}}'}</script>
<script src="{% static 'js/tasks.js' %}"></script>
  {% endblock %}