{% extends 'main.html' %} {% load static %} {% block content %}
<div class="p-2">
  <a type="button" class="btn btn-primary" href="{{request.GET.next}}"
    >Inapoi</a
  >
</div>

<form method="POST">
  <div class="row p-3 g-3">
    {% csrf_token %} {% for field in form %} {% if field == form.status and
    request.user.is_staff == False %}
    <!-- Input:Text -->
    <div class="col-md-4 visually-hidden">
      <label>{{field.label}}:</label>
      {{field}}
    </div>

    {% else %}
    <div class="col-md-4">
      <label>{{field.label}}:</label>
      {{field}}
    </div>

    {% endif %} {% endfor %}
  </div>
  <input
    class="btn btn-primary btn--sub btn--lg my-md"
    type="submit"
    value="Submit"
  />
</form>

<script>
  var data = JSON.parse("{{listaJs|escapejs}}");
</script>

<script src="{% static 'js/form.js' %}"></script>

{% endblock %}
