{% extends 'main.html' %} 
{% block content %}
<div class="row text-center p-2">
  <div class="col">
    {% if request.user.is_staff %}
    <a class="btn btn-primary" href="{% url 'location-form' %}">Adauga Locatie</a>
    {% endif %}
  </div>
  <div class="col">
    <a class="btn btn-primary" href="{% url 'managers' %}">Manageri</a>
    {% if request.user.is_staff %}
    <a class="btn btn-primary" href="{% url 'manager-form' %}">Adauga Manager</a>
    {% endif %}
  </div>
</div>

<div class="text-center tableFixHead">
  <table class="table table-bordered table-hover" id="tabel">
    <thead>
      <tr>
        <th scope="col">Nr</th>
        <th scope="col">Name</th>
        <th scope="col">Adresa</th>
        <th scope="col">Telefon</th>
        <th scope="col">Adresa IP</th>
        <th scope="col">Manager</th>
        <th scope="col">Telefon Manager</th>
        <th scope="col">Email Manager</th>
        <th scope="col">Deschidere</th>
        <th scope="col">Inchidere</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
      <tr>
        {% if request.user.is_staff %}
        <td  class="fw-bold" ><a href="{% url 'location-edith' location.id %}?next=/location">{{location.numar}}</a></td>
        {% else %}
        <td  class="fw-bold">{{location.numar}}</td>
        {% endif %}
       
        <td>{{location.name}}</td>
        <td>{{location.address}}</td>
        <td>{{location.telefon}}</td>
        <td>{{location.adresa_ip}}</td>
        <td>{{location.manager.nume}}</td>
        <td>{{location.manager.telefon}}</td>
        <td>{{location.manager.email}}</td>
        <td>{{location.data_deschidere|date:"d.m.y"}}</td>
        <td>{{location.data_inchidere|date:"d.m.y"}}</td>
        <td>{{location.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
