{% extends 'main.html' %} {% block content %}
<main>
  <div class="row text-center">
    <div class="col">
      <a class="btn btn-primary" href="{% url 'egm' %}">Adj-uri</a>
      {% if request.user.is_staff %}
      <a class="btn btn-primary" href="{% url 'egm-form' %}?next=/egm/cabinet"
        >Adauga egm</a
      >
      {% endif %}
    </div>
    <div class="col">
      {% if request.user.is_staff %}
      <a
        class="btn btn-primary"
        href="{% url 'cabinet-form' %}?next=/egm/cabinet"
        >Adauga cabinet</a
      >
      {% endif %}
    </div>
    <div class="col">
      <a class="btn btn-primary" href="{% url 'platform' %}">Platforma</a>
      {% if request.user.is_staff %}
      <a
        class="btn btn-primary"
        href="{% url 'platform-form' %}?next=/egm/cabinet"
        >Adauga platforma</a
      >
      {% endif %}
    </div>
  </div>

  <div class="text-center tableFixHead p-3">
    <table class="table table-bordered table-hover" id="tabel">
      <thead>
        <tr>
          <th scope="col">Nr</th>
          <th scope="col">Cabinet</th>
        </tr>
      </thead>
      <tbody>
        {% for cabinet in cabinete %}
        <tr>
          {% if request.user.is_staff %}
          <td class="fw-bold">
            <a href="{% url 'cabinet-edith' cabinet.id %}?next=/egm/cabinet"
              >{{cabinet.id}}</a
            >
          </td>
          {% else %}
          <td class="fw-bold">{{cabinet.id}}</td>
          {% endif %}
          <td>{{cabinet}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
