{% extends 'main.html' %}


{% block content %}

<a class="btn btn-primary" href="{{request.GET.next}}">Inapoi</a>

    <div class=" form_in col-4 container rounded">
        
        <br>
        <div class=" col-9 container">
            <form class="form" method="POST" >
                {% csrf_token %}
                {% for field in form %}
                <!-- Input:Text -->
                <label for="form-label" for="formWhite">{{field.label}}:</label>
                   {{field}}
                    
                {% endfor %}
                <br>
                <input class=" btn btn-primary" type="submit" value="Submit" />
                <br>
                <br>
            </form>
        </div>
    </div>



  {% endblock %}