{% extends 'main.html' %}

{% block content %}

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for profile in profiles %}
    <div class="col-4">
      <div class="col-10">
      <div href="{% url 'user_profile' profile.id %}" class="card">
        <img src="{{profile.imageURL}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{profile.prenume}}</h5>
          <p class="card-text">{{profile.functie|slice:"60"}}</p>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}
    
  </div>

{% endblock %}