{% extends 'main.html' %}


{% block content %}

  <section >
    <a class="btn btn-primary mb-3" href="{{request.GET.next}}">Inapoi</a>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{profile.imageURL}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{profile.username}}</h5>
              <p>{{profile.functie}}</p>

            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              {% if profile.nume != None %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nume:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.nume}}</p>
                </div>
              </div>
              <hr>
              {% endif %}
              {% if profile.prenume != None %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Prenume:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.prenume}}</p>
                </div>
              </div>
              <hr>
              {% endif %}
              {% if profile.email != None %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.email}}</p>
                </div>
              </div>
              <hr>
              {% endif %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email serviciu:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.email_serviciu}}</p>
                </div>
              </div>
              <hr>
              {% if profile.phone != None %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Telefon:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.phone}}</p>
                </div>
              </div>
              <hr>
              {% endif %}
              {% if profile.phone_serviciu != None %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Telefon de serviciu:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.phone_serviciu}}</p>
                </div>
              </div>
              <hr>
              {% endif %}
              {% if profile.location != None %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Adresa</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.location}}</p>
                </div>
              </div>
              <hr>
              {% endif %}
              {% if profile.url_facebook != None %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Facebook</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><a href="{{profile.url_facebook}}">{{profile.url_facebook}}</a></p>
                </div>
              </div>
              
              {% endif %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}