{% extends 'main.html' %}


{% block content %}
<style>
    input[type='text'],
    input[type='email'],
    input[type='password']{
    min-width: 24rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
   }

</style>



<main >
    <div class="col-5 container rounded bg-color">
        <div class="container  p-3">
            
            
    
            <h3>Resetare Parolă</h3>
            
            <P>Te rugăm să introduci adresa de e-mail pentru a-ţi căuta contul.</P>

            <form class="form" method="POST" action="" >
                {% csrf_token %}

                {{form.as_p}}
                <a class="btn btn-outline-light " href="{% url 'login' %}">Anuleaza</a>
                <input class="btn btn-outline-light" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>





{% endblock content %}