{% extends 'main.html' %} 
{% block content %}

<main>
  <div class="col-8 container rounded bg-color">
    <div class="container p-3">
      <h3>Resetarea parolei a fost trimisă</h3>

      <p>
        V-am trimis prin e-mail instrucțiuni pentru setarea parolei, dacă există
        un cont cu e-mailul pe care l-ați introdus. Ar trebui să le primești în
        scurt timp.
      </p>
      <br />
      <p>
        Dacă nu primiți un e-mail, asigurați-vă că ați introdus adresa cu care
        v-ați înregistrat și verificați folderul de spam.
      </p>
    </div>
  </div>
</main>

{% endblock content %}
