:root {
  --color-sub: #2d2d39;
  --color-sub1: #12528f;
}

.form_in{
  background-color: #93a5aa;
  min-width: 30rem;
  min-height: 10rem;
}

.cardsize{
  max-width: 25rem;
  min-height: 20rem;
  
}

.tab-size{
  min-width: 350px;
}

.tableFixHead thead th {
   position: sticky; top: 0; z-index: 1;
   background-color: rgb(20, 142, 223);
   color:aliceblue;
 }

.card-img-top {
  height: 23rem;

}
.hm-size{
  background-color: #cfdbdf;
  height: 5rem;
  
}

.hM-size{
  background-color: #cfdbdf;
  min-height: 10rem;
}
.hM-sum{
  background-color: #cfdbdf;
  min-height: 7rem;
}